<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>Flask-Twip - Configuration</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('twip.static', filename='twip.css') }}" media="all" />
        <meta name="robots" content="noindex,nofollow">
    </head>
    <body>
        <h1><a href="{{ url_for('twip.index') }}">Flask-Twip<!--<sup title="Version 0.0.1">0.0.1</sup>--></a></h1>
        <h2>Twitter API Proxy, redefined.</h2>
        <div>
            {% block content %}
            <h3>Twip 使用说明</h3>

            <h4>什么是 Twip？</h4>
            <p>twip stands for "Twitter API Proxy". Flask-Twip 是一个Flask微框架的扩展，用于绕过GFW的限制在各种<a href="http://twitter.com">Twitter</a>客户端里访问<a href="http://twitter.com">Twitter</a>。</p>

            <h4>什么是 T 模式？</h4>
            <p>T模式 ( Transparent ) 会透明转发客户端的HTTP请求，能完整保留客户端的Source信息。</p>

            <h4>什么是 O 模式？</h4>
            <p>O模式 ( Override ) 会使用自定义OAuth Consumer Key/Secret重新对客户端HTTP请求进行签名，无法保留客户端Source信息。</p>

            <h3>开始使用 Twip</h3>
            <p class="clearfix">
            <a class="button" href="{{ url_for('twip.show_api') }}">使用 T 模式</a>
            <a class="last button" href="{{ url_for('twip.oauth_start') }}">使用 O 模式</a>
            </p>

            <h3>FAQ 及反馈</h3>
            <p>
            更多安装说明和问题解决，请访问项目 Wiki：<br /><a target="_blank" href="https://github.com/yegle/flask_twip/wiki">https://github.com/yegle/flask_twip/wiki</a>
            </p>
            <p>
            反馈 BUG 请在此提交：<br />
            <a target="_blank" href="https://github.com/yegle/flask_twip/issues">https://github.com/yegle/flask_twip/issues</a>
            </p>
            {% endblock %}

        </div>
        <div id="footer">
            2012 &copy; <a href="https://github.com/yegle/flask_twip">Flask-Twip Project</a>
        </div>
    </body>
</html>
